<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= headline %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to 'HOME', potepan_root_path %>
          </li>
          <% if yield(:page) == "categories" %>
            <li>
              <%= link_to 'SHOP', "#" %>
            </li>
          <% end %>
          <li class="active"><%= headline %></li>
        </ol>
      </div>
    </div>
  </div>
</section>